# Auto-detect text files, ensure they use LF
* text=auto eol=lf

# Define binary file attributes
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.png binary
*.exe binary
*.dll binary
*.ttf binary
*.eof binary
*.eot binary